/* Isabella Pazzini */


position: absolute;
width: 186px;
height: 50px;

font-family: 'Birthstone Bounce';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 50px;
/* identical to box height, or 156% */

text-align: center;

color: #000000;
/* SOBRE MIM: */


position: absolute;
width: 110px;
height: 24px;

font-family: 'Benne';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
/* or 312% */

text-align: center;

color: #000000;
/* Eu sou a Isabella, porém me chamam de Isa ou Isinha, tenho 15 anos, estudo no colégio Wilson Joffre, e estou no 2° ano do ensino médio, estou cursando exatas. Minhas materias preferidas são biologia e quimíca, pretendo fazer faculdade de nutrição, ou fisioteriapia, no EUA com bolsa atleta. Jogo vôlei desde de os 10 anos, e hoje jogo pelo time de Cascavel, já ive a oportunidade de jogar por São José dos Pinhais. */


position: absolute;
width: 536px;
height: 409px;

font-family: 'Hepta Slab';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 50px;
/* or 333% */

text-align: center;

color: #000000;
/* MINHAS HABILIDADES: */


position: absolute;
width: 172px;
height: 50px;

font-family: 'Benne';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 50px;
/* identical to box height, or 333% */

text-align: center;

color: #000000;
/* Astuta Resiliente Compreensiva */


position: absolute;
width: 158px;
height: 240px;

font-family: 'Hepta Slab';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 50px;
/* or 333% */

text-align: center;

color: #000000;
