border-radius: 10px;
}

.retangvermelho{
.retangoloazul{

  position: absolute;
width: 223px;
height: 1000px;
left: 1217px;
top: 24px;
  width: 247px;
  height: 1024px;
  left: 1202px;
  top: 0px;

  background: #32AABE;

background: #BE3232;
}
.retanguloverde{

position: absolute;
width: 242px;
height: 1000px;
left: 975px;
top: 24px;
  position: absolute;
  width: 251px;
  height: 1024px;
  left: 959px;
  top: 0px;

background: #18BB94
  background: #18BB94;
}
{
  position: absolute;
