body{
  background-color: #963485
}
header{
  background-color: #000000

}

.titulo{font-size: 100px; color: #C7C7C7; text-align: center;margin-top: -20%}

h1{
  font-family: inherit; text-align: center; color:white; ;
}
h2{
font-family: inherit; text-align: left; color: black
}
h3{
  font-family: inherit;text-align: left; color: black
}
p1{
  font-family: inherit;text-align: left; color: black
}

h4{
  font-family: inherit;text-align: left; color: black
}
h5{
  font-family: inherit;text-align: left; color: white
}

ul {
  top: 200px;
font-size: 30px;
}

.logo{
width: 18%;
margin-left: 78%;
}

.contato{font-family: cursive; background-color: #A89203; color: #FFFFFF ; font-size: 30px; text-align: center;}

iframe{
  width: 50%;
  margin-left: 25%;
}

.minhafoto{

  width: 62%;
  margin-left: 10%;
  border-radius: 20%

}
